
.idea/workspace.xml
.idea/
Support and resistance/Results/
AI/AllUSData-max-03-03-2026.csv
Scanners/AllUSData-20100101-20260303.parquet
Scanners/AllUSData-20240101-20250601.parquet
Scanners/AllUSData-2y-03-03-2026.parquet
Scanners/AllUSData-max-03-03-2026.parquet
Scanners/llUSData-27-02-2026.parquet
Scanners/AllUSData-27-02-2026.csv
Scanners/AllUSData-2y-03-03-2026-pyarrow.parquet
Scanners/AllUSData-2y-03-03-2026.csv
